<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planet Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Checkout Mars Weather!</a></p>
        </div>

        <!-- display mars data in card -->
        <div class="row">
            <!-- latest News Title and Paragraph Text -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">NASA Mars News</h3>
                        <h4 class="card-text">{{listings.news_title}}</h4>
                        <p class="card-text">{{listings.news_body}}</p>
                    </div>
                </div>
            </div>
            <!-- JPL Mars Space Images - Featured Image -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">JPL Mars Featured Image</h3>
                        <p class="card-text">{{listings.full_image_url}}</p>
                        <a href="{{listings.full_image_url}}" target="_blank" class="btn btn-primary">Open Image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Mars Hemispheres -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Mars Hemispheres</h3>
                        {% for item in listings.hemisphere_image_urls %}
                        <p class="card-text">{{item.title}}</p>
                        <p class="card-text">{{item.img_url}}</p>
                        <b><a href="{{item.img_url}}" target="_blank" class="card-link">Open Image</a></b>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</body>

</html>